<html>
        <head> <title> HI MARK </title>
                <link rel="stylesheet" href="/static/style.css"> 
                <!--		<script src="/static/script.js"></script> -->

                <script> 


                        function hide(id) {

                                document.getElementById(id).style.visibility = "hidden";
                        }

                        function show(id) {
                                document.getElementById(id).style.visibility = "visible";

                        }



                </script>

                
        </head>


        <body> <h1 id = "kek"> Hi Mark!</h1>
                <hr>

                <p>
                <!-- <canvas id="canvas" width="28" height="28"> </canvas>  -->


		<img src="/static/const.jpg" width="50%" id="kekk">
                <button onclick="hide('kekk')"> REMOVE</button> 
                <button onclick="show('kekk')"> ADD </button> 

                <hr>




        </body>
</html>
