<html>
        <head>

  <style>

    body {
        font-family: "Georgia";
    }

    h3 {
        font-family: "Montserrat";
	font-weight: 512; 
	font-size: 24;
	color: black; 
        margin-bottom: 0;
        padding: 0;

    }


    h2 {
        font-family: "Montserrat";
	font-weight: 324; 
	font-size: 16;
	color: #002fa7;
        margin-bottom: 0;
    }

    h1 {
	
        font-family: "Montserrat";
	font-weight: 400; 
	font-size: 48;
	color: #002fa7;
        margin-bottom: 0;
    
    }

    hr {
        border: none;
        height: 4px;
        background-color: #002fa7;
        margin-top: 10px;
    }

    #row {
            display: inline;
            margin-left: 2%;
            margin-right: 2%;
    }

    #b {
            width:90%; 
            margin: 0 auto;
    } 

	
  </style>


                


        </head>
        <body>
		<center>
                <h1> Constantine Larionoff </h1>
                <h2>
                        <div>
                                <div id="row"> <a href="./neural_network/0"> NEURAL NETWORK  </a>   </div>
                               <div id="row">  CELLULAR AUTOMATA  </div>
                                      <div id="row"> PATH FINDING      </div>     
                        </div>
                </h2>

                              <hr>
		
                </center>
                <div id="b">
                        <p>
                        <h3 id="b">  Hi! Here's a text about me. The fun stuff is in the 3 links on top. </h3>
                <div id="b">
                        <p>
                I like to make things. And here I'll try my best to show a few and also explain how they work. If I do it well it actually could be used for purposes of entertainment or even education. The original reason to build it is so I could learn a bit of the web stuff. And also show people what I know so they could hire me. That's a crappy picture I took on a webcam when coding this.
                </div>
                <p>
                 <center>
<img src="/static/me.jpg" width="90%">  </center>
  <div id="b" style="margin-bottom: 10px;">
          <p>
          I'm looking for a programming job/internship. I have some exposure to several programming languages: a decent subset of Python, probably nearly everything there is in C, a bit of x86 Assembly so I could understad what C actually does, a bit af Haskell because it's fun, apparently JavaScript, which is not anymore considered to be merely a comment as it was in the 90s. If there's a need to put a lable on me -- I'm a fullstack developer, but currently a terrible one. Really feel the need to emphasise the latter.  <p> 
        
          I'm intersested in math and actually am in the process of getting a BS in it. Honestly as a hobby math was way more interesting than as a major. Basically I still only learn it as a hobby. But a big one. As Edward Frenkel puts it: "It's like teaching an art class where they only tell you how to paint a fence but they never show you Picasso". I'm no Picasso but I promise I'll try to make all the math on this website fun.         <p>        
          The job/internship I'm looking for  has only 2 requironments. It's an interesting one and a long one. I have no interest in sticking with writing boring HTML for a few bucks for years nor am I particulary looking for a one week job. Everything else works for me. I learn anything really fast and generally enjoy doing it. If there's something to learm, I like it. Thankfully, there's a lot to learn for me. I would be happy to move to any place on Earth that speaks English, Russian or French if required. Elon, if it's you, then definately also on Mars. Actully Mars would be preferred. 
          <p>
          Currently one purpose of this website serves as I already mentioned is to show what kind of stuff I can do. A lot of the stuff here I previously made just for fun. Definatly check the links on top.
          
</div>

		 <form id="MyForm" action=="predict" method="POST" enctype="multipart/form-data"> 

                <canvas id="myPics" width="28" height="28" style="border: 2px solid black">

                <script>

// When true, moving the mouse draws on the canvas
let isDrawing = false;
let x = 0;
let y = 0;

const myPics = document.getElementById('myPics');
const context = myPics.getContext('2d');

// event.offsetX, event.offsetY gives the (x,y) offset from the edge of the canvas.

// Add the event listeners for mousedown, mousemove, and mouseup
myPics.addEventListener('mousedown', e => {
  x = e.offsetX;
  y = e.offsetY;
  isDrawing = true;
});

myPics.addEventListener('mousemove', e => {
  if (isDrawing === true) {
    drawLine(context, x, y, e.offsetX, e.offsetY);
    x = e.offsetX;
    y = e.offsetY;
  }
});

window.addEventListener('mouseup', e => {
  if (isDrawing === true) {
    drawLine(context, x, y, e.offsetX, e.offsetY);
    x = 0;
    y = 0;
    isDrawing = false;
  }
});

function drawLine(context, x1, y1, x2, y2) {
  context.beginPath();
  context.strokeStyle = 'black';
  context.lineWidth = 2;
  context.moveTo(x1, y1);
  context.lineTo(x2, y2);
  context.stroke();
  context.closePath();
}


function clearr() {
  context.clearRect(0, 0, myPics.width, myPics.height);
}

function savee() {
    var image = myPics.toDataURL("image/png").replace("image/png", "image/octet-stream"); 
    window.location.href=image;
}


function getStuff() {
    var image = new Image();
    var url = document.getElementById('url');
    image.id = "pic";
    image.src = myPics.toDataURL();
    url.value = image.src;

}
function ggetStuff() {
        var canvas  = document.getElementById('myPics');
        var url     = document.getElementById('url');
        var dataURL = canvas.toDataURL();
        url.value   = dataURL;
}

</script>
</canvas>
<input type="hidden" id="url" name="url" value="kek">
<input type="submit" id="predict" value="Predict"> 
</form>

<button onclick="foo();"> url</button>

<button onclick="ggetStuff();"> set url value</button>

<script>
        function foo() {
        console.log(url);
        }
</script>

        </body>
        </html>

